@charset "UTF-8";

body {
  background: red;
  text-align: center;
}
.map {
  background: #ddd;
  height: 250px;
  margin: 30px auto;
  width: 300px;
}

.stack {
  text-align: left;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    line-height: 24px;
    margin: 0;
  }
}
